<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S2S2 💕</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav>
    <div class="nav-left">
        <img alt="img" src="../static/image/logo.png" class="logo">
    </div>
    <div class="nav-right">
        {% if tui == "none": %}
        <a href="{{ url_for('user_login')}}">
            <div class="nav-user-icon">
                <img alt="img" src="../static/image/login.png">
            </div>
        </a>
        {% else: %}
        <div class="nav-user-icon online" onclick="settingsMenuToggle();">
            <img alt="img" src="{{pd[int(tui) - 1].img}}">
        </div>
        {% endif %}
    </div>
    {% if tui != 'none' %}
    <div class="settings-menu">
        <div id="dark-btn">
            <span></span>
        </div>
        <div class="settings-menu-inner">
            <div class="user-profile">
                <img alt="img" src="{{ pd[int(tui) - 1].img }}">
                <div>
                    <p>{{pd[int(tui) - 1].name}}</p>
                    <a href="{{ url_for('user_profile', person_id=tui, the_id=tui) }}">See Your Profile</a>
                </div>
            </div>
            <hr>
            <div class="settings-links">
                <img alt="img" src="../static/image/feedback.png" class="settings-icon">
                <a href="https://mail.google.com/mail/u/0/?fs=1&to=tan040724101445@gmail.com&su=S2S2-feedback&body=BODY&&tf=cm">Give
                    Feedback</a>
            </div>
            <hr>
            <div class="settings-links">
                <img alt="img" src="../static/image/help.png" class="settings-icon">
                <a href="https://mail.google.com/mail/u/0/?fs=1&to=tan040724101445@gmail.com&su=S2S2-HELP&body=BODY&&tf=cm">Help
                    & Support</a>
            </div>
            <div class="settings-links">
                <img alt="img" src="../static/image/logout.png" class="settings-icon">
                <a href="{{ url_for('user_logged_in', the_id='none') }}">Logout</a>
            </div>
        </div>
    </div>
    {% endif %}
</nav>

<div class="container">
    <div class="left-sidebar">
        <div class="shortcut-links">
            <p>富豪榜</p>
            {% for the_rich in rl: %}
            <a href="{{ url_for('user_profile', person_id=the_rich.id, the_id=tui) }}">
                <img alt="img" src="../static/image/shortcut-{{rl.index(the_rich) + 1}}.png">
                {{the_rich.name}}
                <h6 style="padding: 0; margin-left:20px"> 积分为：{{the_rich.score}}</h6>
            </a>
            {% endfor %}
        </div>
        <div class="shortcut-links">
            <p>穷人榜</p>
            {% for the_poor in pl: %}
            <a href="{{ url_for('user_profile', the_id=the_poor.id) }}">
                <img alt="img" src="../static/image/shortcut-{{pl.index(the_poor) + 1}}.png">
                {{the_poor.name}}
                <h6 style="padding: 0; margin-left:20px">积分为：{{the_poor.score}}</h6>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="main-content">
        <div class="story-gallery">
            <div class="story story1">
                <a href="{{url_for('rps_home', the_id=tui)}}"><p>r! p! s!</p></a>
            </div>
            <div class="story story2">
                {%if tui == 'none':%}
                <p>Login to Donate</p>
                {%else:%}
                <a href="{{url_for('SomeFunction', num=5, the_id=tui)}}"><p>Donate 500 score</p></a>
                {%endif%}
            </div>
            <div class="story story3">
                <p>waiting</p>
            </div>
            <div class="story story4">
                <p>waiting</p>
            </div>
            <div class="story story5">
                <a href="{{url_for('home', the_id=tui)}}"><p>Movie Blogspot</p></a>
            </div>
        </div>
        {% if tui != "none": %}
        <div class="write-post-container">
            <div class="user-profile">
                <img alt="img" src="{{pd[int(tui) - 1].img  }}" class="kind-show-{{pd[int(tui)-1].kind}}">
                <div>
                    <p>{{pd[int(tui)-1].name}}</p>
                </div>
            </div>
            <div class="post-input-container">
                <form method="post" action="{{url_for('SomeFunction', num=2, the_id=tui)}}">
                    <label>
                        <textarea rows="3" placeholder="What's on your mind?" name="user-post"></textarea>
                    </label>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-outline-primary" type="submit">Upload</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% for post in bo[::-1]: %}
        <div class="post-container">
            <div class="post-row">
                <div class="user-profile">
                    <img alt="img" src="{{pd[int(post.name)-1].img}}" class="kind-show-{{pd[int(post.name)-1].kind}}">
                    <div>
                        <p>{{pd[int(post.name)-1].name}}</p>
                        <span>{{post.time}}</span>
                    </div>
                </div>
            </div>
            <p class="post-text">
                {% for text in post.post.split("\n"): %}
                {{text}}<br>
                {% endfor %}
            </p>
            <div class="post-row">
                <div class="activity-icons">
                    {%if tui == 'none':%}
                    <div>
                        <img alt="img" src="../static/image/like-blue.png">
                        {{ post.liked }}
                    </div>
                    {%else:%}
                    <div>
                        <a href="{{url_for('SomeFunction', post_id=post.id, the_id=tui, num=6)}}">
                            <img alt="img" src="../static/image/like-blue.png"></a>
                        {{ post.liked }}
                    </div>
                    {%endif%}
                </div>
                {% if tui != 'none' %}
                {% if post.name == tui: %}
                <div class="post-profile-icon">
                    <a href="{{url_for('SomeFunction', post_id=post.id, the_id=tui, num=3)}}">Delete</a>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="right-sidebar">
        <div class="sidebar-title">
            <h4>Events</h4>
        </div>
        <div class="event">
            <div class="left-event">
                <h3>{{dl[0]}}</h3>
                <span>{{dl[1]}}</span>
            </div>
            {% if tui != 'none':%}
            <div class="right-event">
                <h4>每日领分</h4>
                <p>
                    <i class="fa fa-map-marker"></i>
                    每日登入获得200分
                </p>
                {%if pd[int(tui)-1].online:%}
                <a href="{{ url_for('SomeFunction', num=1, the_id=tui) }}">Receive award</a>
                {%else:%}
                Claimed
                {%endif%}
            </div>
            {%endif%}
        </div>


        <div class="sidebar-title">
            <h4>Profile</h4>
        </div>

        {% for person in pd: %}
        <div class="online-list">
            <a href="{{ url_for('user_profile', person_id=person.id, the_id=tui) }}">
                <div class="online">
                    <img alt="img" src="{{person.img}}" class="kind-show-{{person.kind}}">
                </div>
                <p>{{person.name}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="footer">
    <p>本网站为学生课堂练习作品,若使用的内容有触犯了您 的著作权请告知,我们将把它删除。Email:2017032@smpinhwa.edu.my</p>
</div>

<script src="../static/js/script.js"></script>
</body>
</html>