<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2S2 {{person.id}} 💕</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="../static/css/profile_style.css">
</head>
<body>
<div class="profile-card">
    <div class="card-header">
        <div class="pic">
            <img src="{{person.img}}" alt="">
        </div>
        <div class="name">{{ person.name }}</div>
        <div class="desc">{{ person.birth }}</div>
        <div class="sm">
            {% if the_id == 'none':%}
            {% for text in person.intro.split("\n"): %}
            {{text}}<br>
            {% endfor %}
            {% elif int(the_id) == person.id: %}
            <a href="{{url_for('set_intro', the_id=the_id)}}">
                {% for text in person.intro.split("\n"): %}
                {{text}}<br>
                {% endfor %}
            </a>
            {% elif the_id != person.id: %}
            {% for text in person.intro.split("\n"): %}
            {{text}}<br>
            {% endfor %}
            {% endif %}
        </div>
        <a href="https://mail.google.com/mail/u/0/?fs=1&to={{ person.gmail }}&su=SUBJECT&body=BODY&&tf=cm"
           class="contact-btn">Contact Me</a>
    </div>
    <div class="card-footer">
        <div class="numbers">
            <div class="item">
                <span>{{person.post}}</span>
                Posts
            </div>
            <div class="border"></div>
            <div class="item">
                <span>{{person.score}}</span>
                积分
            </div>
            <div class="border"></div>
            <div class="item">
                <span>{{person.kind}}</span>
                善意等级
            </div>
        </div>
    </div>
</div>
</body>
</html>